{% extends 'base.html' %}
{% load static %}
{% block title %}{{hotel.name}}{% endblock title%}

{% block content %}
<div class="container">

    <div class="card-deck mt-1 mb-1">
    <div class="card">
        <img
        class="card-img-top"
        src="{{hotel.main_image.url}}"
        alt="{{hotel.name}}"
        width="200"
        height="200"
        />
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <h5 class="card-title">{{hotel.name}}</h5>
                    <p class="card-text">{{hotel.description}}</p>
                    <h5 class="card-text">Rate: {{hotel.get_room_rate_string}} </h5>
                    </div>
                <div class="card-text">
                    <form action="{% url 'create-checkout-session' hotel.id %}" method="POST">
                        {% csrf_token %}
                    <div class="d-flex flex-column mb-3">
                        <div class="p-2">{{hotel_booking_form.rooms.label}}: {{hotel_booking_form.rooms}}</div>
                        <div class="p-2">AC : {{hotel_booking_form.ac}}</div>
                        <div class="p-2"><button type="submit" class="btn btn-primary">Book</button></div>
                    </div>
                    </form>
                </div>
                </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}